					<table class="table table-striped table-hover well">
						<tr style="font-size:14px;">
							<td colspan="3" style="font-size:18px;" title="Pontos"><center><b><a href="#id_modal_time_art" role="button" data-toggle="modal" >Art Car</a></b></center></td>
							<td ><center>1</center></td>
						</tr>				
						<tr style="font-size:14px;">
							<td class="muted" title="Jogador">Jogador.</td>
							<td class="muted" title="Cartoes"><center></center></td>
							<td ><center></center></td>
							<td class="muted" title="Gols">Gol</td>
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/golerio_24x24.png"/> Renato</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Kaka</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Ivo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Marcinho</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Julio</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>						
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Diego</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><img src="/media/images/soccer_ball_16.png"/> </td> <!-- Gols -->
						</tr>												
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Ailton</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Marquinhos</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>								
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Derlei</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Denis <img src="/media/images/e_24.png" title="Emprestado para o Art Car"/><span class="muted" style="font-size:12px;"> (Real Matismo)</span></td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ></td> <!-- Gols -->
						</tr>						
					</table>