<h3>Rodada 1 &bull; 09/10/2013</h3>
<br/>
<hr/>
<div class="row">
	<center><h4 class="muted">Tahiti <span style="font-size:45px;"> 8 </span> X <span style="font-size:45px;"> 6 </span>Real Matismo   </h4></center>
	<div class="span6">
					<table class="table table-striped table-hover well">
						<tr style="font-size:14px;">
							<td colspan="4" style="font-size:18px;" title="Pontos"><center><b>Tahiti</b></center></td>
						</tr>				
						<tr style="font-size:14px;">
							<td class="muted" title="Jogador">Jogador.</td>
							<td class="muted" title="Cartoes"><center></center></td>
							<td ><center></center></td>
							<td class="muted" title="Gols"><center>Gol</center></td>
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/golerio_24x24.png"/> Cris</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Banana</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Samor</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Jean</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> </center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Bruno</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 4</center></td> <!-- Gols -->
						</tr>						
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Vandinho</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>												
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Ricardo M.</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Diogo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> </center></td> <!-- Gols -->
						</tr>								
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> D&uacute; Alem&atilde;o</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Marcelo <img title="Nao identificado" src="/media/images/interrogacao_.png"/></td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><center><img src="/media/images/soccer_ball_16.png"/> 2</center></td> <!-- Gols -->
						</tr>												
					</table>	
	</div>
	<div class="span6">
					<table class="table table-striped table-hover well">
						<tr style="font-size:14px;">
							<td colspan="4" style="font-size:18px;" title="Pontos"><center><b>Real Matismo</b></center></td>
						</tr>				
						<tr style="font-size:14px;">
							<td class="muted" title="Jogador">Jogador.</td>
							<td class="muted" title="Cartoes"><center></center></td>
							<td ><center></center></td>
							<td class="muted" title="Gols"><center>Gol</center></td>
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/golerio_24x24.png"/> D&uacute;du</td>
							<td ><center><img src="/media/images/yellow_card_16.png"/></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> D&uacute; Engenheiro</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Boy</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Rodrigo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Nicolas</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 2</center></td> <!-- Gols -->
						</tr>							
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> D&uacute; Magrelo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 2</center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Eskilo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>						
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Jairo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Denis</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 2</center></td> <!-- Gols -->
						</tr>						
					</table>	
	</div>
</div>

<div class="row">
	<br/><br/><br/>
	<center><h4 class="muted">Art Car <span style="font-size:45px;"> 1 </span> X <span style="font-size:45px;"> 8 </span>Os Treze   </h4></center>
	<div class="span6">
			<table class="table table-striped table-hover well">
						<tr style="font-size:14px;">
							<td colspan="4" style="font-size:18px;" title="Pontos"><center><b>Art Car</b></center></td>
						</tr>				
						<tr style="font-size:14px;">
							<td class="muted" title="Jogador">Jogador.</td>
							<td class="muted" title="Cartoes"><center></center></td>
							<td ><center></center></td>
							<td class="muted" title="Gols"><center>Gol</center></td>
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/golerio_24x24.png"/> Renato</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Kaka</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Ivo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Marcinho</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Julio</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>						
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Diego</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> </center></td> <!-- Gols -->
						</tr>												
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Ailton</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Marquinhos</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>								
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Derlei</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
					</table>	
	</div>
	<div class="span6">
				<table class="table table-striped table-hover well">
						<tr style="font-size:14px;">
							<td colspan="4" style="font-size:18px;" title="Pontos"><center><b>Os Treze</b></center></td>
						</tr>				
						<tr style="font-size:14px;">
							<td class="muted" title="Jogador">Jogador.</td>
							<td class="muted" title="Cartoes"><center></center></td>
							<td ><center></center></td>
							<td class="muted" title="Gols"><center>Gol</center></td>
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/golerio_24x24.png"/> Felipe</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Carlinhos</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Biz&oacute;ca</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 2</center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Pertubado</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Biruta</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> </center></td> <!-- Gols -->
						</tr>							
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Andy</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Maradona</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>						
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Paolo</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center></center></td> <!-- Gols -->
						</tr>
						<tr style="font-size:16px;">
							<td ><img src="/media/images/chuteira_32.png"/> Neguinho</td>
							<td ><center></center></td> <!-- Cartoes -->
							<td ><center></center></td>
							<td ><center><img src="/media/images/soccer_ball_16.png"/> 5</center></td> <!-- Gols -->
						</tr>						
					</table>	
	</div>
</div>
