{% include 'modal_times.html' %}

<br/>
<h3>Rodada 1 &bull; 09/10/2013</h3>
<br/>
<hr/>
<div class="row">
	<center>
		<h4 class="muted"> 8 X 6 </h4>
		<span class="text-warning"><b> <img src="/media/images/apito_32.png"/> Marcelo  </b></span>
	</center>
	<div class="span6">
		{% include 'rodada_1/jogo_1_tahiti.html' %}
	</div>
	<div class="span6">
		{% include 'rodada_1/jogo_1_real.html' %}
	</div>
</div>
<br/>
<hr/>
<div class="row">
	<br/><br/>
	<center>
		<h4 class="muted"> 1 X 8 </h4>
		<span class="text-warning"><b> <img src="/media/images/apito_32.png"/> Marcelo  </b></span>
	</center>
	<div class="span6">
		{% include 'rodada_1/jogo_2_art_car.html' %}
	</div>
	<div class="span6">
		{% include 'rodada_1/jogo_2_treze.html' %}
	</div>	
</div>
