<html>
<head>
	{% block head %}
		<title>QuartaShow.com</title>
		<link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
		<link href="/media/bootstrap/Asisco/bootstrap.min.css" rel="stylesheet"/>
		
		<link href="/media/css/my_css.css" rel="stylesheet"/>
		
		<!--<script src="{{ MEDIA_URL }}bootstrap/bootstrap.min.js"/>-->
		
		<link href="/media/bootstrap/bootswatch.css" rel="stylesheet"> 
		<link href="/media/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"> 
		<!--<link href="bootstrap/font-awesome.min.css" rel="stylesheet"> -->          	
		
		<script src="/media/bootstrap/jquery.min.js"></script>
		<script src="/media/bootstrap/bootstrap.min.js"></script>
		<script src="/media/bootstrap/bootswatch.js"></script>
		<script src="/media/bootstrap/jquery.smooth-scroll.min.js"></script>
		
		<script type="text/javascript">				
			function show__(url, alt, larg) {
				w = window.open(url, 
								'', 
								'height=550, width=750, top=150, left=250, scrollbars=no, resizable=no');								
			}
			function show_ful__(url, alt, larg) {
				w = window.open(url, 
								'', 
								'height=650, width=1170, top=100, left=30, scrollbars=no, resizable=no');								
			}			
			
			function get_one_puclicidade_pagina(pagina_codigo, competicao_id) {
				$.getJSON('/get_one_puclicidade_pagina/'+pagina_codigo+'/'+competicao_id+'/', 			
						  function(retorno) {     
							 //alert(retorno[0].fields.patrocinador_display);
							 var html__ = "";
							 html__ += '<span class="text-warning">publicidade</span><br/> ';
							 if (retorno[0].fields.return_proc == 'N') {
								html__ += '<a href="'+retorno[0].fields.patrocinador_link+'" target="_blank">';
								html__ += '   <img class="img-rounded" title="'+retorno[0].fields.patrocinador_display+'" height="100" width="150" src="'+retorno[0].fields.patrocinador_image_aside+'"/>';
								html__ += '</a>';
							} else {
								html__ += '   <img class="img-rounded" title="Anuncie aqui" height="100" width="150" src="/media/images/patrocinadores/anuncie.gif"/>';
							}
							 $('#id_publicidade_top').html(html__);
				});			
			}			
			
		</script>		
	
	{% endblock %}
</head>
<body>

	 <div class="navbar navbar-fixed-top" > <!--navbar-inverse-->
	   <div class="navbar-inner">
		 <div class="container">
		   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
		   </a>
		   <a class="brand" href="/"><img src="/media/images/soccer_ball_24.png"/></a>
		   <div class="nav-collapse collapse" id="main-menu">
			<ul class="nav" id="main-menu-left">
				<li><a href="/classificacao/0" style="font-family: 'Alex Brush', cursive;">QuartaShow.com</a></li>
			</ul>
			<ul class="nav pull-right" id="main-menu-right">
			    <li><a href="#">Login</a></li> 
			</ul>
		   </div>
		 </div>
	   </div>
	 </div>	 
	
		<header class="jumbotron" id="overview">
		  <div class="row">
		  
			    <div class="container" >		
					
					<div class="span hidden-phone">
						<img src="/media/images/trofeu_100.png"/>
					</div>
					<div class="span9 hidden-phone">
						<h4><span >Campeonato </h4></span><h1 style="font-family: 'Alex Brush', cursive;"> Quarta<span class="text-warning">Show</span>.com</h1>
					</div>
					<h4 class="visible-phone"><img src="/media/images/trofeu_100.png"/><br/><span >Campeonato </span><span style="font-family: 'Alex Brush', cursive;">QuartaShow.com</span></h4>
			    </div>
			<div class="span3">
			  <div>
				 <!--cadastre-se-->				 
			  </div>
			</div>
		  </div>
		  <div class="row">	  
			  <!--
			  <div class="subnav">
				<div class="container">
					
				
					
					<span class="pull-right"> {{access}} </span>
					<!--
					<ul class="nav nav-pills">
						<li><a href="/classificacao/">Classificacao</a></li>
						<center><li>Meu IP: {{ ip }}</li></center>
					</ul>
					--
					
				</div>
			  </div>
			  -->
		  </div>
		  <div class="row">
		     <div class="container" >
					<div class="colums_box no_bg colums_box_4">          
						<a class="colbox" href="/classificacao/0#id_classificacao"> 
							<img src="/media/images/spacer.gif" width="98" height="98"  /><h4>Classifica&ccedil;&atilde;o</h4>
						</a>           
					</div>
            
				  <div class="colums_box no_bg colums_box_2"> 					
					<a class="colbox" href="/jogos/"> <img src="/media/images/spacer.gif" width="98" height="98"  /><h4>Jogos</h4></a>   
				  </div>
				  
				   <div class="colums_box no_bg colums_box_3"> 					  
					<a class="colbox" href="/classificacao/2#id_classificacao"> <img src="/media/images/spacer.gif" width="98" height="98"  /><h4>Artilharia</h4>	</a>    							
				  </div>
				  
				  <div class="colums_box no_bg colums_box_1 last">               
					<a class="colbox" href="#/Times/"> <img src="/media/images/spacer.gif" width="98" height="98"  /><h4>Times</h4>
					</a>         
				  </div>	
			 </div>		 
		  </div>
		</header>
	
	
	{% block body %}
		<!-- Conteudo -->
		<div class="container">
			{% include template %}
		</div>
	{% endblock %}	
	

	<br/><br/><br/>
	<br/><br/><br/>
	
	<div class="text-center">
		<center>
		<!--<span class="label label-important">asisco.com.br</span>-->
			<span > Meu IP: {{ ip }} </span>
		</center>
	</div>

	<footer>
		<div class="container">
			<!--<p>Base Bootstrap Twiiter</p>-->
			<p class="text-info"><a href="http://www.asisco.com.br" target="_blank"><span class="text-info">Asisco</span></a> @ 2013</p>
		</div>
	</footer>
	
</body>
</html>
