	
<div class="container">
	<div class="row">
		<div class="span9">
			<h1> 
				<img src="/media/images/trofeu_100.png"/>
				<span style="font-size:18px;">campeonato. </span>
				<span style="font-family: 'Alex Brush', cursive;" > Quarta<span class="text-warning">Show</span>.com</span>
			</h1>
		</div>
	</div>
	<div class="row">
		
		
			
		<div class="span7">
			{% include 'tabela_classificacao.html' %}	
		</div>
		
	</div>
	<div class="row">
		<div class="span7">
			{% include 'artilharia.html' %}
		</div>
	</div>
</div>