	
<div class="container">
	<div class="row">
		<div class="span9">
			<h1> 
				<img src="/media/images/trofeu_100.png"/>
				<span style="font-size:18px;">campeonato. </span>
				<span style="font-family: 'Alex Brush', cursive;" > Quarta<span class="text-warning">Show</span>.com</span>
			</h1>
		</div>
	</div>
	<div class="row">
		
		
		

			<table class="table table-striped table-hover well">
				<tr style="font-size:18px;">
					<td title="Colocacao">Col.</td>
					<td >Time</td>
					<td title="Pontos"><center>Pontos</center></td>
					<td title="Jogos"><center>J</center></td>
					<td title="Vitorias"><center>V</center></td>
					<td title="Empate"><center>E</center></td>
					<td title="Derrota"><center>D</center></td>
					<td title="Gols Pro"><center>GP</center></td>
					<td title="Gols Contra"><center>GC</center></td>
					<td title="Saldo de Gols"><center>SG</center></td>
					<td title="% de aproveitamento"><center>%</center></td>
				</tr>
				<tr style="font-size:20px;">
					<td class="text-info">1&deg;</td>
					<td>Os Treze</td>
					<td class="text-info"><center><b>3</b></center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>8</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>7</center></td>
					<td class="muted"><center>100</center></td>				
				</tr>
				<tr style="font-size:20px;">
					<td class="text-info">2&deg;</td>
					<td>Tahiti</td>
					<td class="text-info"><center><b>3</b></center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>8</center></td>
					<td class="muted"><center>6</center></td>
					<td class="muted"><center>2</center></td>
					<td class="muted"><center>100</center></td>				
				</tr>	
				<tr style="font-size:20px;">
					<td class="text-info">3&deg;</td>
					<td>Real Matismo</td>
					<td class="text-info"><center><b>0</b></center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>6</center></td>
					<td class="muted"><center>8</center></td>
					<td class="muted"><center>-2</center></td>
					<td class="muted"><center>0</center></td>				
				</tr>		
				<tr style="font-size:20px;">
					<td class="text-info">4&deg;</td>
					<td>Art Car</td>
					<td class="text-info"><center><b>0</b></center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>0</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>1</center></td>
					<td class="muted"><center>8</center></td>
					<td class="muted"><center>-7</center></td>
					<td class="muted"><center>0</center></td>				
				</tr>								
			</table>	

		
		
		
	</div>
	<div class="row">
		{% include 'artilharia.html' %}
	</div>
</div>