
	<div class="span3">
		<table class="table table-striped table-hover well">
			<tr ><td ><img src="/media/images/golerio_24x24.png"/> Cris</td><td ></td></tr>
			<tr ><td ><img src="/media/images/chuteira_32.png"/> Banana</td><td ></td></tr>
			<tr ><td ><img src="/media/images/chuteira_32.png"/> Samor</td><td ></td></tr>
			<tr ><td ><img src="/media/images/chuteira_32.png"/> Jean</td><td ><img src="/media/images/soccer_ball_16.png"/> </td></tr>
			<!--<tr style="font-size:20px;"><td ><strike><img src="/media/images/chuteira_32.png"/> Jean</strike></td></tr>-->
			<tr ><td><img src="/media/images/chuteira_32.png"/> Bruno</td><td ><img src="/media/images/soccer_ball_16.png"/> 5</td></tr>
			<tr ><td><img src="/media/images/chuteira_32.png"/> Vandinho</td><td ><img src="/media/images/soccer_ball_16.png"/> 3</td></tr>
			<tr ><td><img src="/media/images/chuteira_32.png"/> Ricardo M.</td><td ></td></tr>
			<tr ><td><img src="/media/images/chuteira_32.png"/> Diogo</td><td ><img src="/media/images/soccer_ball_16.png"/> </td></tr>
			<tr ><td><img src="/media/images/chuteira_32.png"/> D&uacute; Alem&atilde;o</td><td ><img src="/media/images/soccer_ball_16.png"/> 2</td></tr>
			<tr><td ><img src="/media/images/chuteira_32.png"/> Marcelo Vargas</td><td ><img src="/media/images/soccer_ball_16.png"/> 2</td></tr>
		</table>	
	</div>	
				<div class="span3">
						<script type="text/javascript">
						  google.load('visualization', '1.0', {'packages':['corechart']});
						  google.setOnLoadCallback(drawChart_pizza);
						  function drawChart_pizza() {
						  
						    var classificacao = getTahiti();
						    $('#id_det_view_tahiti').html(get_det_view(classificacao));
							
							var data = new google.visualization.DataTable();
							data.addColumn('string', 'Criterios de Acertos');
							data.addColumn('number', 'Quantidade');
							data.addRows([
							  ['Vitorias', classificacao.getVitorias()], 
							  ['Empates', classificacao.getEmpates()], 
							  ['Derrotas', classificacao.getDerrotas()]
							]);
							// Set chart options
							var options = get_options();
							// Instantiate and draw our chart, passing in some options.
							var chart = new google.visualization.PieChart(document.getElementById('id_pizza_tahiti'));
							chart.draw(data, options);
						  }
						  
						</script>		
												
					<center>	
						<div id="id_det_view_tahiti">
							<!--
							<p >&bull; 1&deg; Colocado</p> 
							<p>&bull; 6 pontos</p>
							<p>&bull; 12 Gols pr&oacute;</p>
							<p>&bull; 4 Gols contra</p>
							<p>&bull; 8 Saldo de gols</p>
							<p>&bull; 100% de aproveitamento</p>						
							-->
						</div>
						<div id="id_pizza_tahiti"></div>
					</center>	
				</div>	
