
<div id="id_times">
	
	<div class="row" id="id_times_os_treze">
		<br/><br/>
		<h1>
			<a href="/os_treze/#id_os_treze">Os Treze</a>
		</h1>
		<br/>
		<div class="span7">
			{% include 'time_os_treze_status.html' %}
		</div>
		<div class="span4">
			...
		</div>
		
	</div>
	<hr/>
	<div class="row" id="id_times_tahiti">
		<br/><br/>
		<h1>
			<a href="/tahiti/#id_tahiti">Tahiti</a>
		</h1>
		<br/>
		<div class="span7">
			{% include 'time_tahiti_status.html' %}
		</div>
		<div class="span4">
			...
		</div>
		
	</div>
	<hr/>
	<div class="row" id="id_times_real_matismo">
		<br/><br/>
		<h1>
			<a href="/real_matismo/#id_real_matismo">Real Matismo</a>
		</h1>
		<br/>

		<div class="span7">
			{% include 'time_real_matismo_status.html' %}
		</div>
		<div class="span4">
			...
		</div>
		
	</div>
	<hr/>
	<div class="row" id="id_times_art_car">
		<br/><br/>
		<h1>
			<a href="/art_car/#id_art_car">Art Car</a>
		</h1>
		<br/>

		<div class="span7">
			{% include 'time_art_car_status.html' %}
		</div>
		<div class="span4">
			...
		</div>
	</div>	
	
</div>
